[Unit]
Description= Ventilador
After=multi-user.target

[Service]
ExecStart=!/usr/bin/python3 -u /home/pi/sysras/WS/Ventilador.py
WorkingDirectory= /home/pi/sysras/WS
Restart=always
RestartSec=15s
User=pi
Group=pi

[Install]
WantedBy=multi-user.target

